
body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
/* BARRA NAVEGACION */
.logo img {
  width: 55px; 
  margin: 0;
  border-radius: 50px;
}

.navbar {
  background-color: #110b38; 
  border-bottom: 5px solid #5755FE;
  color: white;
  
}

.navbar-brand, .navbar-nav .nav-link, .dropdown-menu .dropdown-item {
  font-weight: bold;
  font-size: 16px;
  
}

.navbar-nav {
  margin: 0 auto;
  color: #5755FE;

}

.navbar-nav .nav-link {
  font-size: 16px; 
  margin-left: 50px; 
}

.dropdown-menu .dropdown-item {
  color:black; 
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}

/*TIENDA PRODUCTOS */
.encabezado {
  width: 100%;
  height: 800px;
  background-image: url(/img/encabezado.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
}
.encabezado

.encabezado .textos {
  margin-top: 252px;
}

.encabezado .subtitulo {
  font-size: 70px;
  font-weight: 300;
  text-align: center;
  margin: 325px;
  text-shadow: black 5px 5px 15px;
  font-weight: bold;
}

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.encabezado3 h2{
  font-size: 45px;
  text-align: center;
  margin: 55px;
}

.descripcion {
  font-size: 35px;
  color: #333;
  margin-bottom: 20px;

}

.descripcion p {
  margin: 110px;
  
}

.banner{
 
}
/*CARD CATALOGO*/
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  width: 300px;
  border: 1px solid black;
  margin: 20px;
  text-align: center;
  border-radius: 15px;
}

.producto img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  

}

.producto h2 {
  font-size: 1.5em;
  color: #333;
}

.producto p {
  color: black;
}

.producto button {
  background-color: #4CAF50;
  color: white;
  padding:5px 30px;
  margin: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.producto button:hover {
  background-color: #1a0ec7;
}


/*TIENDA SERVICIOS */




/*NOSOTROS */






/*FOOTER */

footer {
  background-color: #d47319;
  color: #fff;
  padding: 0px 0;
  margin-top: auto; /* */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


.footer-logo img {
  width: 100px;
  padding: 10PX;
  border-radius: 50px;
}

.footer-logo p {
  font-size: 20px;
  margin-top: 0px;
  
}

.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links h3{
  border-bottom: 5px solid #fcc726;
}

.footer-links ul li {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  
}

.footer-contact {
  max-width: 250px;
  
}

.footer-contact h3 {
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 5px solid #fcc726;
}

.footer-contact p {
  margin-bottom: 10px;
  font-weight: bold;
  
  
}

.footer-bottom {
  background-color: #110b38;
  border-bottom: 5px  solid #5755FE;
  color: #fff;
  text-align: center;
 
}

.footer-social h3 {
  font-size: 25px; 
  margin-bottom: 10px; 
  font-weight: bold;
  border-bottom: 5px solid #fcc726;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

.footer-social ul li {
  margin: 1px; 
}

.footer-social ul li a img {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  transition: transform 0.3s ease; 
}

.footer-social ul li a img:hover {
  transform: scale(1.2); 
}

