.titulo_principal h1 {
  font-size: 3.5em; 
  color: black; 
  text-align: center; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-family: 'Arial', sans-serif; 
  margin: 80px 0; 
  padding: 80px; 
  background: linear-gradient(to right, #ffe600, #ff4500); 
  border-radius: 20px; 
  box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.3); 
}




.seccion-anuncios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
}
.pet-card {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    max-width: 600px;
    margin: 25px auto;
    transition: all 400ms ease;
    
  }

  .pet-card:hover{
    box-shadow: 5px 5px 20px rgba(17,11,56, 2);
    transform: translateY(-3%);
    transform: scale(1.15);
  }

  .content-pet{
    display: flex;
  }
  
  .pet-header {
    background-color: #e53935;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .pet-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .pet-image {
    width: 30%;
    /*height: 200px;*/
    object-fit: cover;
    padding-top: 5px;
  }
  
  .pet-info {
    background-color: #e0b114;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    
  }

  .pet-info label{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
  }
  .pet-info .pet-name{
    justify-content: center;
  }
  
  .pet-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 40%;
  }
  

  /*Seccion de busqueda de por*/

  .seccion-busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: yellow; */
  }

  .search-section{
    
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 10px;
  }
  /* .search-section {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    
  } */

  .search-section input {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 20xp;
    border: 1px solid #d50000;
    transition: all .7s ease;

  }

  ::placeholder{
    color: gray;
  }

  .btn{
    position: absolute;
    right: 5%;
    
    width: 50px;
    height: 50px;
    background-color: #d50000;
    line-height: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
  }

  .btn i{
    font-size: 25px;
    color: white;
    line-height: 38px;
    transition: all .7s ease;
  }

  .search-section:hover  input{
    width: 300px;
  }

  .search-section:hover i{
    transform: rotate(-360deg);
  }
  
  .btn:hover{
    background: #cc0000;
  }
  

  .seccion-tipo {
    padding: 8px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #busqueda-tipo {
    padding: 8px 16px;
    background-color: #cc0000;
    color: #fff;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #busqueda-tipo:hover {
    background-color: #d47319;
  }

  /* paginas responsive */
  @media (max-width: 576px) {
    /* Estilos para teléfonos móviles */


    .pet-image {
      width: 100%;
      /*height: 200px;*/
      object-fit: cover;
      padding-top: 5px;
    }

    .content-pet{
      display: flex;
      flex-direction: column;
    }

    .pet-info {
      background-color: #e0b114;
      display: flex;
      flex-direction: column;
      padding: .5rem;
      font-size: 16px;
      width: 100%;
      
    }
    .titulo_principal h1 {
      font-size: 1.5em; 
       text-align: center; 
    }
    .titulo_final h2{
      
      text-align: center;
    }
  }

  .titulo_final {
    text-align: center; 
    margin: 90px 0; 
    padding: 50px; 
    background: linear-gradient(to right, #ffe600, #ff4500); 
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    animation: fadeIn 2s ease-in-out; 
}

.titulo_final h2 {
    font-size: 1.5em; 
    color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'Arial', sans-serif; 
}

/* Definición de la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
