
.sucursales h2{
  font-family: "Permanent Marker";
  margin: 55px;
  font-size: 2rem;
}

.map {
  max-width: 800px; 
  margin: 0 auto;
  margin-top: 20px; 
}

.map iframe {
  width: 650px; 
  height: 650px; 
  border: none; 
  margin: 55px;
}

.container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0px; 
}

.location-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.location-list li {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .location-list li {
    padding: 10px;
    margin-bottom: 10px;
  }

  .map {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .map iframe {
    width: 100%;
    height: 300px;
    margin: 0;
    border-radius: 0;
  }
}
